In [ ]:
import pandas as pd

In [ ]:
df_concat = pd.read_csv('./df_concat.csv')
df_concat

,Unnamed: 0,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,DAYS_INSTALMENT,DAYS_ENTRY_PAYMENT,AMT_INSTALMENT,AMT_PAYMENT,DAYS_INSTALLMENT_LATE,PAYMENT_DISCREPANCY,SK_ID_CURR_CNT_BUREAU,SK_ID_CURR_CNT_CRED_CARD,SK_ID_CURR_CNT_POS_CASH,SK_ID_CURR_CNT_INSTALL
0,1,0,0,0,0,0,0,270000.0,1293502.5,35698.5,...,-1378.0,-1385.0,64754.5860,64754.5860,7.200,0.00000,4.00,37.28,28.00,25.00
1,2,0,1,1,1,1,0,67500.0,135000.0,6750.0,...,-754.0,-761.5,7096.1550,7096.1550,7.668,0.00000,2.00,37.28,4.00,3.00
2,3,0,0,0,0,1,0,135000.0,312682.5,29686.5,...,-252.2,-271.5,62947.0860,62947.0860,19.380,0.00000,5.55,6.00,21.00,16.00
3,4,0,0,1,0,1,0,121500.0,513000.0,21865.5,...,-1029.0,-1032.0,12666.4440,12214.0610,3.637,452.38430,1.00,37.28,66.00,66.00
4,5,0,0,1,0,1,0,99000.0,490495.5,27517.5,...,-1264.0,-1238.0,27702.9650,27360.5020,-26.060,342.46158,3.00,37.28,83.00,35.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,62328,1,0,1,1,1,0,90000.0,634482.0,20466.0,...,-342.0,-365.2,18080.4530,18080.4530,23.230,0.00000,2.00,37.28,15.00,13.00
9996,62369,1,0,1,0,0,0,225000.0,817560.0,29493.0,...,-1547.0,-1555.0,13035.9460,13035.9460,7.900,0.00000,5.00,37.28,11.00,10.00
9997,62394,1,1,0,0,0,1,90000.0,180000.0,9000.0,...,-792.5,-802.5,4904.4243,4904.4243,9.900,0.00000,6.00,37.28,21.00,19.00
9998,62396,1,0,0,0,1,1,135000.0,720000.0,36891.0,...,-1337.0,-1341.0,32446.8240,30214.7480,4.520,2232.07700,5.55,37.28,77.00,75.00
9999,62406,1,1,0,0,0,0,117450.0,135000.0,6750.0,...,-910.5,-922.0,18383.0940,18744.1560,11.190,-363.19754,5.55,37.28,29.52,39.84

In [ ]:
df_concat = df_concat.drop(['Unnamed: 0'], axis = 1)

In [ ]:
df_concat

,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,...,DAYS_INSTALMENT,DAYS_ENTRY_PAYMENT,AMT_INSTALMENT,AMT_PAYMENT,DAYS_INSTALLMENT_LATE,PAYMENT_DISCREPANCY,SK_ID_CURR_CNT_BUREAU,SK_ID_CURR_CNT_CRED_CARD,SK_ID_CURR_CNT_POS_CASH,SK_ID_CURR_CNT_INSTALL
0,0,0,0,0,0,0,270000.0,1293502.5,35698.5,1129500.0,...,-1378.0,-1385.0,64754.5860,64754.5860,7.200,0.00000,4.00,37.28,28.00,25.00
1,0,1,1,1,1,0,67500.0,135000.0,6750.0,135000.0,...,-754.0,-761.5,7096.1550,7096.1550,7.668,0.00000,2.00,37.28,4.00,3.00
2,0,0,0,0,1,0,135000.0,312682.5,29686.5,297000.0,...,-252.2,-271.5,62947.0860,62947.0860,19.380,0.00000,5.55,6.00,21.00,16.00
3,0,0,1,0,1,0,121500.0,513000.0,21865.5,513000.0,...,-1029.0,-1032.0,12666.4440,12214.0610,3.637,452.38430,1.00,37.28,66.00,66.00
4,0,0,1,0,1,0,99000.0,490495.5,27517.5,454500.0,...,-1264.0,-1238.0,27702.9650,27360.5020,-26.060,342.46158,3.00,37.28,83.00,35.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,1,0,1,1,1,0,90000.0,634482.0,20466.0,454500.0,...,-342.0,-365.2,18080.4530,18080.4530,23.230,0.00000,2.00,37.28,15.00,13.00
9996,1,0,1,0,0,0,225000.0,817560.0,29493.0,675000.0,...,-1547.0,-1555.0,13035.9460,13035.9460,7.900,0.00000,5.00,37.28,11.00,10.00
9997,1,1,0,0,0,1,90000.0,180000.0,9000.0,180000.0,...,-792.5,-802.5,4904.4243,4904.4243,9.900,0.00000,6.00,37.28,21.00,19.00
9998,1,0,0,0,1,1,135000.0,720000.0,36891.0,720000.0,...,-1337.0,-1341.0,32446.8240,30214.7480,4.520,2232.07700,5.55,37.28,77.00,75.00
9999,1,1,0,0,0,0,117450.0,135000.0,6750.0,135000.0,...,-910.5,-922.0,18383.0940,18744.1560,11.190,-363.19754,5.55,37.28,29.52,39.84

In [ ]:
df = pd.read_csv('./df_train.csv')
df

,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,...,DAYS_INSTALMENT,DAYS_ENTRY_PAYMENT,AMT_INSTALMENT,AMT_PAYMENT,DAYS_INSTALLMENT_LATE,PAYMENT_DISCREPANCY,SK_ID_CURR_CNT_BUREAU,SK_ID_CURR_CNT_CRED_CARD,SK_ID_CURR_CNT_POS_CASH,SK_ID_CURR_CNT_INSTALL
0,1,0,1,0,1,0,202500.0,406597.5,24700.5,351000.0,...,-295.00,-315.50,11559.2470,11559.2470,20.421875,0.0000,8.00000,37.280347,19.0,19.0
1,0,0,0,0,0,0,270000.0,1293502.5,35698.5,1129500.0,...,-1378.00,-1385.00,64754.5860,64754.5860,7.199219,0.0000,4.00000,37.280347,28.0,25.0
2,0,1,1,1,1,0,67500.0,135000.0,6750.0,135000.0,...,-754.00,-761.50,7096.1550,7096.1550,7.667969,0.0000,2.00000,37.280347,4.0,3.0
3,0,0,0,0,1,0,135000.0,312682.5,29686.5,297000.0,...,-252.25,-271.50,62947.0860,62947.0860,19.375000,0.0000,5.55152,6.000000,21.0,16.0
4,0,0,1,0,1,0,121500.0,513000.0,21865.5,513000.0,...,-1029.00,-1032.00,12666.4440,12214.0610,3.636719,452.3843,1.00000,37.280347,66.0,66.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
310330,0,0,1,0,0,0,157500.0,254700.0,27558.0,225000.0,...,-120.00,-156.25,7492.9243,7492.9243,36.281250,0.0000,5.55152,37.280347,9.0,7.0
310331,0,0,0,0,1,0,72000.0,269550.0,12001.5,225000.0,...,-2392.00,-2394.00,10069.8670,10069.8670,2.666016,0.0000,5.55152,37.280347,7.0,6.0
310332,0,0,0,0,1,0,153000.0,677664.0,29979.0,585000.0,...,-2372.00,-2388.00,4399.7080,4115.9150,14.710938,283.7925,4.00000,37.280347,17.0,14.0
310333,1,0,0,0,1,0,171000.0,370107.0,20205.0,319500.0,...,-142.25,-161.25,10239.8320,10239.8320,19.000000,0.0000,1.00000,37.280347,20.0,19.0
310334,0,0,0,0,0,0,157500.0,675000.0,49117.5,675000.0,...,-464.00,-472.00,41464.7150,47646.2150,8.070312,-6181.5020,11.00000,37.280347,71.0,74.0

In [ ]:
from sklearn.ensemble import AdaBoostClassifier
from sklearn import tree
from sklearn.model_selection import GridSearchCV
import numpy as np

import pandas as pd
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import KFold

In [ ]:
X = df_concat.drop('TARGET', axis = 1)
y = df_concat['TARGET']

In [ ]:
crossvalidation=KFold(n_splits=10,shuffle=True,random_state=1)

In [ ]:
ada=AdaBoostClassifier()
search_grid={'n_estimators':[500,1000,2000],'learning_rate':[.001,0.01,.1]}
search=GridSearchCV(estimator=ada,param_grid=search_grid,scoring='accuracy',n_jobs=-1,cv=crossvalidation)

In [ ]:
search.fit(X,y)
search.best_params_

In [ ]:
search.best_score_

In [ ]:
#test
# Import necessary modules
from sklearn.ensemble import AdaBoostClassifier
from sklearn.model_selection import RandomizedSearchCV
from sklearn.metrics import accuracy_score
from tqdm import tqdm

# Define input and output variables
Input = df_concat.drop('TARGET', axis=1)
Output = df_concat['TARGET']

# Define the classifier
model = AdaBoostClassifier()

# Define the parameter grid for the randomized search
param_grid = {
    'n_estimators': [10, 50, 100, 200, 500],
    'learning_rate': [0.0001, 0.01, 0.1, 1.0, 1.1, 1.2]
}

# Define the number of iterations for the randomized search
n_iter = 100

# Define the number of cross-validation folds
cv = 5

# Initialize the randomized search
random_search = RandomizedSearchCV(
    estimator=model,
    param_distributions=param_grid,
    n_iter=n_iter,
    cv=cv,
    n_jobs=-1
)

# Fit the randomized search to the data with a progress bar
for _ in tqdm(range(10)):
    random_search.fit(Input, Output)

# Get the best parameters and score
best_params = random_search.best_params_
best_score = random_search.best_score_

# Print the results
print('Best score:', best_score)
print('Best parameters:', best_params)

  0%|                                                                                           | 0/10 [00:00<?, ?it/s]C:\Users\colin\anaconda3\lib\site-packages\sklearn\model_selection\_search.py:282: UserWarning: The total space of parameters 30 is smaller than n_iter=100. Running 30 iterations. For exhaustive searches, use GridSearchCV.
  % (grid_size, self.n_iter, grid_size), UserWarning)

In [ ]:
from sklearn.ensemble import AdaBoostClassifier
from sklearn.model_selection import RandomizedSearchCV
from scipy.stats import randint
from tqdm import tqdm


# Define the hyperparameter space
param_dist = {
    'n_estimators': randint(10, 1000),
    'learning_rate': [0.01, 0.1, 1.0, 10.0],
    'algorithm': ['SAMME', 'SAMME.R']
}

# Create the AdaBoostClassifier object
clf = AdaBoostClassifier()

# Create the RandomizedSearchCV object
random_search = RandomizedSearchCV(
    clf, 
    param_distributions=param_dist, 
    n_iter=50, 
    cv=10, 
    scoring='accuracy', 
    n_jobs=-1,
    verbose=1,
    random_state=42
)


# Fit the randomized search to the data with a progress bar
for _ in tqdm(range(10)):
    random_search.fit(X, y)

# Print the best hyperparameters and best score
print('Best hyperparameters: ', random_search.best_params_)
print('Best accuracy score: ', random_search.best_score_)

  0%|                                                                                           | 0/10 [00:00<?, ?it/s][Parallel(n_jobs=-1)]: Using backend LokyBackend with 16 concurrent workers.

Fitting 10 folds for each of 50 candidates, totalling 500 fits

[Parallel(n_jobs=-1)]: Done  18 tasks      | elapsed:   37.2s
[Parallel(n_jobs=-1)]: Done 168 tasks      | elapsed: 17.2min
[Parallel(n_jobs=-1)]: Done 418 tasks      | elapsed: 36.6min
[Parallel(n_jobs=-1)]: Done 500 out of 500 | elapsed: 41.2min finished
 10%|███████▉                                                                       | 1/10 [42:19<6:20:54, 2539.41s/it][Parallel(n_jobs=-1)]: Using backend LokyBackend with 16 concurrent workers.

Fitting 10 folds for each of 50 candidates, totalling 500 fits

[Parallel(n_jobs=-1)]: Done  18 tasks      | elapsed:   18.2s
[Parallel(n_jobs=-1)]: Done 168 tasks      | elapsed: 13.1min
[Parallel(n_jobs=-1)]: Done 418 tasks      | elapsed: 31.7min
[Parallel(n_jobs=-1)]: Done 500 out of 500 | elapsed: 36.3min finished
 20%|███████████████▍                                                             | 2/10 [1:19:34<5:26:24, 2448.07s/it][Parallel(n_jobs=-1)]: Using backend LokyBackend with 16 concurrent workers.

Fitting 10 folds for each of 50 candidates, totalling 500 fits

[Parallel(n_jobs=-1)]: Done  18 tasks      | elapsed:   23.7s
[Parallel(n_jobs=-1)]: Done 168 tasks      | elapsed: 13.8min
[Parallel(n_jobs=-1)]: Done 418 tasks      | elapsed: 33.5min
[Parallel(n_jobs=-1)]: Done 500 out of 500 | elapsed: 38.3min finished
 30%|███████████████████████                                                      | 3/10 [1:58:46<4:42:15, 2419.38s/it][Parallel(n_jobs=-1)]: Using backend LokyBackend with 16 concurrent workers.

Fitting 10 folds for each of 50 candidates, totalling 500 fits

[Parallel(n_jobs=-1)]: Done  18 tasks      | elapsed:   17.1s
[Parallel(n_jobs=-1)]: Done 168 tasks      | elapsed: 13.8min
[Parallel(n_jobs=-1)]: Done 418 tasks      | elapsed: 32.6min
[Parallel(n_jobs=-1)]: Done 500 out of 500 | elapsed: 37.1min finished
 40%|██████████████████████████████▊                                              | 4/10 [2:36:52<3:57:55, 2379.26s/it][Parallel(n_jobs=-1)]: Using backend LokyBackend with 16 concurrent workers.

Fitting 10 folds for each of 50 candidates, totalling 500 fits

[Parallel(n_jobs=-1)]: Done  18 tasks      | elapsed:   20.5s
[Parallel(n_jobs=-1)]: Done 168 tasks      | elapsed: 12.7min
[Parallel(n_jobs=-1)]: Done 418 tasks      | elapsed: 26.4min
[Parallel(n_jobs=-1)]: Done 500 out of 500 | elapsed: 29.6min finished
 50%|██████████████████████████████████████▌                                      | 5/10 [3:07:07<3:04:10, 2210.15s/it][Parallel(n_jobs=-1)]: Using backend LokyBackend with 16 concurrent workers.

Fitting 10 folds for each of 50 candidates, totalling 500 fits

[Parallel(n_jobs=-1)]: Done  18 tasks      | elapsed:    9.9s
[Parallel(n_jobs=-1)]: Done 168 tasks      | elapsed:  9.5min
[Parallel(n_jobs=-1)]: Done 418 tasks      | elapsed: 22.3min
[Parallel(n_jobs=-1)]: Done 500 out of 500 | elapsed: 25.6min finished
 60%|██████████████████████████████████████████████▏                              | 6/10 [3:33:25<2:14:41, 2020.36s/it][Parallel(n_jobs=-1)]: Using backend LokyBackend with 16 concurrent workers.

Fitting 10 folds for each of 50 candidates, totalling 500 fits

[Parallel(n_jobs=-1)]: Done  18 tasks      | elapsed:   11.8s
[Parallel(n_jobs=-1)]: Done 168 tasks      | elapsed:  8.9min
[Parallel(n_jobs=-1)]: Done 418 tasks      | elapsed: 19.8min
[Parallel(n_jobs=-1)]: Done 500 out of 500 | elapsed: 22.2min finished
 70%|█████████████████████████████████████████████████████▉                       | 7/10 [3:55:37<1:30:41, 1813.92s/it][Parallel(n_jobs=-1)]: Using backend LokyBackend with 16 concurrent workers.

Fitting 10 folds for each of 50 candidates, totalling 500 fits

[Parallel(n_jobs=-1)]: Done  18 tasks      | elapsed:    8.7s
[Parallel(n_jobs=-1)]: Done 168 tasks      | elapsed:  7.0min
[Parallel(n_jobs=-1)]: Done 418 tasks      | elapsed: 17.5min
[Parallel(n_jobs=-1)]: Done 500 out of 500 | elapsed: 19.9min finished
 80%|███████████████████████████████████████████████████████████████▏               | 8/10 [4:16:11<54:39, 1639.76s/it][Parallel(n_jobs=-1)]: Using backend LokyBackend with 16 concurrent workers.

Fitting 10 folds for each of 50 candidates, totalling 500 fits

[Parallel(n_jobs=-1)]: Done  18 tasks      | elapsed:    7.6s
[Parallel(n_jobs=-1)]: Done 168 tasks      | elapsed:  6.9min
[Parallel(n_jobs=-1)]: Done 418 tasks      | elapsed: 17.4min
[Parallel(n_jobs=-1)]: Done 500 out of 500 | elapsed: 19.8min finished
 90%|███████████████████████████████████████████████████████████████████████        | 9/10 [4:36:41<25:16, 1516.80s/it][Parallel(n_jobs=-1)]: Using backend LokyBackend with 16 concurrent workers.

Fitting 10 folds for each of 50 candidates, totalling 500 fits

[Parallel(n_jobs=-1)]: Done  18 tasks      | elapsed:    7.5s
[Parallel(n_jobs=-1)]: Done 168 tasks      | elapsed:  6.9min
[Parallel(n_jobs=-1)]: Done 418 tasks      | elapsed: 17.4min
[Parallel(n_jobs=-1)]: Done 500 out of 500 | elapsed: 19.8min finished
100%|██████████████████████████████████████████████████████████████████████████████| 10/10 [4:57:08<00:00, 1782.87s/it]

Best hyperparameters:  {'algorithm': 'SAMME.R', 'learning_rate': 0.1, 'n_estimators': 565}
Best accuracy score:  0.6971999999999999